.intro {
      position: fixed;
      top: 450px;
      left: 1300px;
      font-family: 'Playfair Display', serif;
      text-align: right;
}

.ribbon{
    background-color: blanchedalmond;
    font-size: 10px;
    font-family: 'Playfair Display', serif;
}

.ribbon-text{
    width: 500px;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

a {
    color: black;
    text-decoration: none;
}

body{
    background-image:url('https://i.pinimg.com/originals/cf/d7/eb/cfd7eb7ecd283f26ce7c25bd726b529b.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    scroll-behavior: smooth;
}

.about{
    position: absolute;
    bottom: 0;
    left: 0;
}